<!-- <div class="main">
    <div class="row">
    <div class="col-md-4">
    <div class="vertical-menu">
        <a href="#" class="active">Home</a>
        <a href="#">Services</a>
        <p>x ray</p>
        <a href="#">Medication</a>
        <p>Asprin</p>
        <button>PAID</button>
      </div> 
      <div class="col-md-6">
      <div class="vertical-menu">
        <a href="#" class="active">Home</a>
        <a href="#">Services</a>
        <p>x ray</p>
        <p>Physiotherapy</p>
        <a href="#">Medication</a>
        <p>Asprin</p>
        <button>PAY</button>
      </div> 
      </div>      
</div> -->

<div class="container">
  <div class="row">
    <!-- <div class="card">
      <div class="card-header">
        <h1>SERVICES</h1>
      </div>
      <div class="card-body">
        <p>X ray</p>
      </div>
    </div> -->
   
      <div class="card">
        <div class="card-header">
          <h1>MEDICATION</h1>
        </div>
        <div class="card-body">
          <p>Asprin</p>
          <button>PAID</button>
        </div>
      </div>
        <div class="card">
          <div class="card-header">
            <h1>SERVICES</h1>
          </div>
          <div class="card-body">
            <p>X ray</p>
            <button>PAY</button>
          </div>
        </div>
      </div>
            








