<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Patients</h4>
             <P>Total:100</P>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Appointments</h4>
             <P>Total:10</P>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Cases</h4>
              <P>Total:7</P>
         </div>
    </div>
</div>
