<!-- <div class="container">
	<h5 class="col-md-9 mt-2 ml-0">Patients Appointments</h5>
	<div class="row">
	    <div *ngFor='let app of this._appService.patientAppointments' class="col-md-9 mt-2 ml-0 courses-container">

			<div class="course">
				<div class="course-preview">
					<h6><i class="far fa-calendar-alt"></i> Date</h6>
					<h2>{{app.app_date | date:'MMM d, y h:mm a'}}</h2>
					
				</div>
				<div class="course-info">
					
					<h4>{{app.app_title}}</h4>

					<h5>dr.{{app.doctor.first_name}} {{app.doctor.last_name}}</h5>
					<h6>{{app.app_details}}</h6>
					<button *ngIf="app.app_status===0" class="btn btn-info btn-sm waves-effect">Pending</button>
					<button *ngIf="app.app_status===1" class="btn btn-success btn-sm waves-effect">Approved</button>
					<button *ngIf="app.app_status===2" class="btn btn-danger btn-sm waves-effect">Declined</button>
					<button (click)="delAppointment(app.id)"  class="btn btn-outline-danger btn-sm waves-effect">Delete</button>
				</div>
			</div>
		</div>
	
	</div>
</div>

 -->

 <div class="container">
    <div class="row">

        <div class="main-content-wrap"><header class="page-header text-center my-2"><h2 class="page-title">Appointments</h2></header>
            <div class="page-content">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Visit time</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Appointment</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let app of _appService.patientAppointments,let i=index">
                                        <td>
                                            <strong>{{app.doctor.first_name}} {{app.doctor.last_name}}</strong>  
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center nowrap text-primary">
                                                <span class="icofont-ui-email p-0 mr-2"></span> {{app.doctor.email}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-muted text-nowrap">{{app.app_date | date:'MMM d, y'}}</div>
                                        </td>
                                        <td>
                                            <div class="text-muted text-nowrap">{{app.app_date | date:'h:mm a'}}</div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center nowrap text-primary">
                                                <span class="icofont-ui-cell-phone p-0 mr-2"></span>{{app.doctor.mobile}}
                                            </div>
                                        </td>
                                        <td>{{app.app_title}}</td>
                                        <td>{{app.app_details}}</td>
                                        <td>
                                           <span *ngIf="app.app_status===0" class="badge badge-info">Pending</span>
                                           <span *ngIf="app.app_status===1" class="badge badge-success">Approved</span>
                                           <span *ngIf="app.app_status===2" class="badge badge-danger">Declined</span>
                                        </td>
                                        <td class="d-flex  align-items-center nowrap">
                                           <button (click)="delAppointment(app.id)" class="btn btn-danger btn-sm rounded-pill"><span class="btn-icon fas fa-trash-alt"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                 </div>
            </div>
        </div>

    </div>
</div>

