<div class="row">
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>dr.Wanzala Emmanuel</h4>
             <P>CARDIOLOGY</P>
             <button type="button" class="btn btn-primary">BOOK</button>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>dr Kamunya</h4>
             <P>ONCOLOGY</P>
             <button type="button" class="btn btn-danger">BOOK</button>
         </div>
    </div>
</div>
</div>