<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Available Doctors</h4>
             <P>Total:12</P>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Appointments</h4>
             <P>Total:4</P>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Medical records</h4>
              <P>Total:7</P>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Bills</h4>
             <P>Total:2000</P>
         </div>
    </div>
</div>