<div class="auth">
	<div style="margin-top: 4rem;width: 50vw;" class="card mx-auto content">
	   
	    <div class="card-body">
	        <form class="form-signin" style="padding:50px" method="POST">
	            <h2 style="font-weight: 400;" class="text-center">Medman Doctor Sign in </h2>
	          
	            <label for="email" class="sr-only">Email</label>
	            <input type="text" name="login-email"  id="email" class="form-control mt-4" placeholder="Email address" required autofocus>
	     
	            <label for="inputPassword" class="sr-only">Password</label>
	            <input type="password" name="login-password"  id="inputPassword" class="form-control mt-4" placeholder="Password" required>
		        
	            <button class="btn mt-4 btn-md btn-primary btn-block" type="btn">Sign in</button>
	        </form>
	    </div>
	</div>
	<div style="width:50vw" id = "no_account">
	    <h4>Don't have an account?<a routerLink="/register">Register as a doctor</a></h4>
	</div>
</div>





