<div class="auth">
	<div style="margin-top: 4rem;width: 50vw;" class="card mx-auto content">
	   
	    <div class="card-body">
	        <form class="form-signin" style="padding:50px" method="POST">
	            <h2 style="font-weight: 400;" class="text-center">Medman Doctor Sign in </h2>
	          
	           	<div class="md-form form-group mt-4">
				    <input type="email" class="form-control" id="email" name="email" >
				    <label for="email">Email Address</label>
			  	</div>
	          	<div class="md-form form-group mt-4">
				  <input type="password" id="password" name="password" class="form-control">
				  <label for="mobile">Password</label>
				</div>
	            <button class="btn mt-4 btn-md btn-primary btn-block" type="btn">Sign in</button>
	        </form>
	    </div>
	</div>
	<div style="width:50vw" id = "no_account">
	    <h4>Don't have an account?<a routerLink="/doctor/register">Register as a doctor</a></h4>
	</div>
</div>





