<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Appointments Name</h4>
             <P>Patient's name</P>
             <p>Appointments Details</p>
             <button type="button" class="btn btn-primary">DECLINE</button>
             <button type="button" class="btn btn-warning">APPROVE</button>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
            <h4>Appointments Name</h4>
            <P>Patient's name</P>
            <p>Appointments Details</p>
            <button type="button" class="btn btn-danger">DECLINE</button>
            <button type="button" class="btn btn-warning">APPROVE</button>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>Appointments Name</h4>
             <P>Patient's name</P>
             <p>Appointments Details</p>
             <button type="button" class="btn btn-primary">DECLINE</button>
             <button type="button" class="btn btn-warning">APPROVE</button>
         </div>
    </div>
</div>
