<div class="container">
    <h5 class="col-md-9 mt-2 ml-0">Doctor's Appointments</h5>
    <div class="row">
        <div *ngFor="let app of _appService.docAppointments,let i=index" class="col-md-9 mt-2 ml-0 courses-container">

            <div class="course">
                <div class="course-preview">
                    <h6><i class="far fa-calendar-alt"></i> Date</h6>
                    <h2>{{app.app_date | date:'MMM d, y h:mm a'}}</h2>
                    
                </div>
                <div class="course-info">
                    
                    <h4>{{app.app_title}}</h4>

                    <h5>{{app.patient.first_name}} {{app.patient.last_name}}</h5>
                    <h6>{{app.app_details}}</h6>
                    <button *ngIf="app.app_status===1" class="btn btn-success btn-sm waves-effect">APPROVED</button>
                    <button *ngIf="app.app_status===2" class="btn btn-danger btn-sm waves-effect">DECLINED</button>
                    <button  *ngIf="app.app_status===0" (click)="approveApp(app)" class="btn btn-success btn-sm waves-effect">Approve</button>
                    <button  *ngIf="app.app_status===0" class="btn btn-outline-danger btn-sm waves-effect">Decline</button>
                </div>
            </div>
        </div>
    </div>
</div>

