<!-- <app-billing></app-billing>  -->
<!-- <app-navbar></app-navbar>
 


<!-- <app-dashboard></app-dashboard> -->
<!-- <app-appointments></app-appointments> -->
<!-- <nav>
 <a routerLink="/" routerLinkActive=""></a>
 <a routerLink="/" routerLinkActive=""></a>
</nav> -->
<!-- <app-doctor-dashboard></app-doctor-dashboard> -->
<!-- <router-outlet></router-outlet>  -->
<app-home></app-home>
<!-- <app-doctors-page></app-doctors-page> -->
<!-- <app-doctors-appointments></app-doctors-appointments> -->
<!-- <app-doctors-cases></app-doctors-cases> -->
<!-- <app-medicalrecords></app-medicalrecords> -->