<div class="wrap">
    <div class="card">
         <div class="container">
             <h4>CASE 1</h4>
             <P>Diagnosis</P>
             <p>Service Done</p> <p>Patients Name</p>
             <p>Medication</p><p>Date</p>
         </div>
    </div>
</div>
<div class="wrap">
    <div class="card">
         <div class="container">
            <h4>CASE 1</h4>
            <P>Diagnosis</P>
            <p>Service Done</p> <p>Patients Name</p>
            <p>Medication</p><p>Date</p>
         </div>
    </div>
</div>
