<div class="container">

    <div class="row">

        <div class="main-content-wrap"><header class="page-header text-center my-2"><h2 class="page-title">Bills</h2></header>
            <div class="page-content">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Bill No</th>
                                        <th scope="col">Patient</th>
                                        <th scope="col">Doctor</th>
                                        <th scope="col">Case</th>
                                        <th scope="col">Admission Fee</th>
                                        <th scope="col">Service Fee</th>
                                        <th scope="col">Medication Fee</th>
                                        <th scope="col">Doctor Fee</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Payment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let bill of this._billService.patientBills,let i=index'>
                                        <td>
                                        	<div class="text-muted">
                                                BILL {{pad(i+1)}}
                                            </div>
                                            
                                        </td>
                                        <td>
	                                        <strong>{{bill.case.patient.first_name}} {{bill.case.patient.first_name}}</strong>
                                        </td>
                                        <td>
                                            <strong>{{bill.case.doctor.first_name}} {{bill.case.doctor.first_name}}</strong>
                                        </td>
                                        <td>
                                           {{bill.case.case_title}}
                                        </td>
                                        <td>
                                           Kshs.{{bill.admission_fee | number:'1.2-2'}}
                                        </td>
                                        <td>
                                            Kshs.{{bill.service_fee | number:'1.2-2'}}
                                        </td>
                                        <td>
                                            Kshs.{{bill.medication_fee | number:'1.2-2'}}
                                        </td>
                                        <td>
                                            Kshs.{{bill.doc_fee | number:'1.2-2'}}
                                        </td>
                                        <td>
                                           Kshs.{{bill.total_amount | number:'1.2-2'}}
                                        </td>
                                         <td>
                                            <div class="text-muted  text-nowrap">
                                                {{bill.bill_date | date:'MMM d, y'}}
                                            </div>
                                           
                                        </td>
                                        <td>
                                            <span *ngIf="bill.is_paid" class="badge badge-info">PAID</span>
                                             <a *ngIf="!bill.is_paid"  href="">
                                                 <img src="assets/icons/mpesa.svg" 
                                                 alt="avatar image" width="48px" height="40px" >
                                              </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                 </div>
            </div>
        </div>

    </div>
</div>





