<div class="welcome">
	<section class="container-fluid" id="welcome-banner">
		<div class="col-md-6 col-sm-12 text-center text-white banner">
			<img class="img-fluid logo pb-3" src="assets/logo.jpg" />
			<h4 class="mb-4">Medman Hospital Management Systems</h4>
			<p class="mb-2 mb-md-5">Redefining hospital management systems</p>
			<p>
				<a href=""  routerLink="/doctor/login" class="btn btn-primary m-2">Doctor Sign in</a> 
				<a style="color:black;background-color: transparent !important;
    border: 2px solid #4285f4 !important;" href="" routerLink="/patient/login" class="btn m-2">Patient Sign in</a>
			</p>
		</div>
	</section>

</div>