<div class="container">

    <div class="row">

        <div class="main-content-wrap"><header class="page-header"><h1 class="page-title">Medical Records</h1></header>
            <div class="page-content">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Case</th>
                                        <th scope="col">Diagnosis</th>
                                        <th scope="col">Medication</th>
                                        <th scope="col">Service</th>
                                        <th scope="col">Admission Days</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of this._recService.patientRecords">
                                        <td>
                                            <strong>{{record.doctor.first_name}} {{record.doctor.last_name}}</strong>  
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center nowrap text-primary">
                                                <span class="far fa-envelope p-0 mr-2"></span> {{record.doctor.email}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center nowrap text-primary">
                                                <span class="fas fa-mobile-alt p-0 mr-2"></span>{{record.doctor.mobile}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-nowrap">{{record.case_title}}</div>
                                        </td>
                                        <td>
                                            <div class="align-items-center nowrap">
                                                {{record.diagnosis}}
                                            </div>
                                        </td>
                                        <td>
                                            <p *ngIf="record.medication">{{record.medication.med_name}}</p>
                                            <p *ngIf="!record.medication">None</p>
                                        </td>
                                        <td>
                                            <p *ngIf="record.service">{{record.service.service_name}}</p>
                                            <p *ngIf="!record.service">None</p>
                                        </td>
                                        <td>
                                           {{record.admission_days}}
                                        </td>
                                         <td>
                                            <div class="text-muted  text-nowrap">
                                                {{record.case_date | date:'MMM d, y'}}
                                            </div>
                                           
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                 </div>
            </div>
        </div>

    </div>
</div>





