<div class="container">
  <div class="row">
    <div class="col-10 mx-auto col-sm-10 col-md-10 col-lg-10">
      <div class="our-team">
        <div class="picture">
          <img *ngIf="my_profile.profile_pic" class="img-fluid" width="144px" height="144px" src="{{my_profile.profile_pic}}">
		  <img *ngIf="!my_profile.profile_pic" class="img-fluid" width="144px" height="144px" src="assets/icons/doc.png">        
		</div>
        <div class="team-content">
          <h3 class="name">{{my_profile.user.first_name}} {{my_profile.user.last_name}}</h3>
          <h4 class="title">DOCTOR</h4>

          <button type="button" class="btn btn-rounded btn-primary mb-4"><i class="far fa-edit pr-2"></i>Edit Profile</button>
        </div>
        <ul class="social">
          <li><i class="far fa-envelope-open" aria-hidden="true"></i><span class="p-4">{{my_profile.user.email}}</span> </li>
          <li><i class="fas fa-map-marked-alt" aria-hidden="true"></i> <span class="p-4">{{my_profile.user.address}}</span> </li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="p-4">{{my_profile.user.mobile}}</span> </li>
          <li><i class="fas fa-building" aria-hidden="true"></i> <span class="p-4">{{my_profile.department}} </span> </li>
        </ul>
      </div>
    </div> 
  </div>
</div>