/* You can add global styles to this file, and also import other style files */
body{
	background-image: url(./assets/bg.jpeg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	backdrop-filter: blur(3px);
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
.modal-backdrop {
    position: relative;
}